<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>Hello <strong>
            <%=name%>
        </strong></p>
        <p>
            we are happy to have you on board. we can't wait to see you around
        </p>
    </div>
</body>
</html>